body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden; 
}

ul{
    margin:0;
    padding:0;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* Header **/
header{
    background:#303952;
    color:#ffffff;
    padding-top:30px;
    min-height:70px; 
    border-bottom:#f5cd79 3px solid;
}

header #logo{
}

header a{
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
}

header li{
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding img{
    margin-top:10px;
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color:#f5cd79;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Showcase */

#showcase{
    min-height:400px;
    background-image:url(../imgs/repertorio.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    text-align:center;
    color:#ffffff;
}

#showcase h1{
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:21px;
    font-weight:bold;
    margin-top:15px;
}

#showcase code{
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, .75);
}

/* Contato */

#contato{
    padding:10px;
    background:#303952;
    border-top:#f5cd79 2px solid;
    color:#ffffff;
}
#contato h1{
    float:left;
}

#contato form{
    float:right;
    margin-top:20px;
}

#contato form .wpp{
    background-color:#303952;
    color:#ffffff;
    display:inline-block;
    padding:10px 17px 10px 17px;
    text-decoration:none;
    transition:all 1s;
}

#contato form .wpp:hover{
    background-color:#f5cd79;
    font-weight:bold;
}

#contato form .wp{
    margin-right:5px;
    vertical-align:middle;

}

/* Boxes */

#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:90px;
}

/* Videoboxes */

#videoboxes{
    margin-top:20px;
}

#videoboxes .box{
    float:left;
    text-align:center;
    width:45%;
    padding:10px;
}

#videoboxes .box video{
    width:400px;
}

#videoboxes .box h3{
}

/* Sidebar */

aside#sidebar{
    float:right;
    width:40%;
    margin-top:50px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

/* Main-col */

article#main-col{
    float:left;
    width:55%;
}

.aboutpic{
    height:500px;
    position:relative;
    overflow:hidden;
}

.aboutpic img{
    max-height:100%;
    position:absolute;
    left:50%;
    transform:translateX(-50%); 
}

footer{
    padding:10px;
    margin-top:20px;
    color:#303952;
    background-color:#f5cd79;
    text-align:center;
}

/* Media Queries */

@media(max-width:768px){
    header nav,
    header nav li,
    #contato h1,
    #contato form,
    #boxes .box,
    #videoboxes .box,
    #videoboxex .box video,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:0px;
    }

    header li{
        padding: 0 10px 0 10px;
    }

    #showcase h1{
        margin-top:40px;
    }